<table class="table" >
    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="3" style="text-align: center;">Profile</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name:</td>
        <td>{{usersData.name}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{usersData.email}}</td>
      </tr>
      <tr>
        <td>Type:</td>
        <td>{{usersData.type}}</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>{{usersData.phone}}</td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td>{{usersData.gender}}</td>
      </tr>
      <tr>
        <td>Telephone:</td>
        <td>{{usersData.telephone}}</td>
      </tr>
      <tr>
        <td>City:</td>
        <td>{{usersData.city}}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>{{usersData.description}}</td>
      </tr>
    </tbody>
  </table>