<div class="container">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="&#61442;  Start searching for a Guider by name or Location">
  </div>
  <table class="table table-striped" *ngFor="let user of usersData  | filter:searchText">
    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="3" style="text-align: center;">Profile</th>
      </tr>
    </thead>
    <tr>
      <td>Name:</td>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td>{{user.phone}}</td>
    </tr>
    <tr>
      <td>Type:</td>
      <td>{{user.type}}</td>
    </tr>
    <tr>
      <td>City:</td>
      <td>{{user.city}}</td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>{{user.gender}}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{user.description}}</td>
    </tr>
  </table>
</div>
