<div class="createPro">
  <form #userFrom="ngForm" (ngSubmit)="submit(userFrom)">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Agency Name</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="createProfile.name" class="form-control" ngModel name="name" placeholder="Name"
          required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input type="number" [(ngModel)]="createProfile.phone" class="form-control" ngModel name="phone"
          pattern="^\d{10}$" placeholder="Phone" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Telephone</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="createProfile.telephone" class="form-control" ngModel name="telephone"
          placeholder="Telephone" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="createProfile.address" class="form-control" ngModel name="address"
          placeholder="City/Road/Town" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tour places</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="createProfile.places" class="form-control" ngModel name="places"
          placeholder="places" required>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Per tour payment</label>
      <div class="col-sm-10">
        <input type="number" [(ngModel)]="createProfile.payment" class="form-control" ngModel name="payment"
          placeholder="payment" required>
      </div>
    </div>

    <div class="form-group">
      <label for="comment">About Us:</label>
      <input class="form-control" [(ngModel)]="createProfile.about" name="about" rows="4" id="comment" ngModel>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" [disabled]="userFrom.invalid" (click)="createTravellerProfile()"
          class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</div>
