<div class="container">
  <div class="search-hero">
    <input class="form-control searchstyle" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="&#61442;  Start searching for a Guider by name or Location">
  </div>
  <div *ngFor="let user of usersData  | filter:searchText">
    <form action="">
      <table class="table table-striped">
        <thead class="thead-style">
          <tr>
            <th scope="col" colspan="3" style="text-align: center;">Profile</th>
          </tr>
        </thead>
        <tr>
          <td>Name:</td>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td #getEmail>{{user.email}}</td>
        </tr>
        <tr>
          <td>Places:</td>
          <td>{{user.places}}</td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit" (click)="showDetails(getEmail); myfunction()" class="btn btn-info btnsty">
              Details
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="details" id="detail">
  <form action="" #userFrom="ngForm">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2">Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Email:</td>
          <td #getEmail>{{userDetails.email}}</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>{{userDetails.phone}}</td>
        </tr>
        <tr>
          <td>Payment per day:</td>
          <td>{{userDetails.payment}}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{userDetails.address}}</td>
        </tr>
        <tr>
          <td>Guide places:</td>
          <td>{{userDetails.places}}</td>
        </tr>
        <tr>
          <td class="hiredesign" colspan="2">
            Wants to Hire!
          </td>
        </tr>
        <tr>
          <td>Hiring Date:</td>
          <td>
            <span>Starting: </span><input [(ngModel)]="inviteData.startingDate" class="form-control form-control-sm"
              ngModel name="startingDate" type="date">
          </td>
        </tr>
        <tr>
          <td></td>
          <td> <span>Ending : </span>
            <input [(ngModel)]="inviteData.endingDate" class="form-control form-control-sm" ngModel name="endingDate"
              type="date">
          </td>
        </tr>
        <tr>
          <td>Guide places:</td>
          <td>
            <input [(ngModel)]="inviteData.places" class="form-control form-control-sm" ngModel name="places"
              type="text" placeholder="Name of places">
          </td>
        </tr>
        <tr>
          <td style="text-align: left"><button type="submit" (click)="invite(getEmail); buttonDisable($event)"
              class="btn btn-info btnsty">Invite</button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
