<div class="container">
  <div class="search-hero">
    <input class="form-control searchstyle" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="&#61442;  Start searching for a Guider by name or Location">
  </div>
  <div *ngFor="let user of usersData  | filter:searchText">
    <form action="">
      <table class="table table-striped">
        <thead class="thead-style">
          <tr>
            <th scope="col" colspan="3" style="text-align: center;">Profile</th>
          </tr>
        </thead>
        <tr>
          <td>Name:</td>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{user.city}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td #getEmail>{{user.email}}</td>
        </tr>
        <tr>
          <td><button type="submit" (click)="showDetails(getEmail); myfunction()" class="btn btn-info btnsty">View
              Details
            </button>
          </td>
          <td style="text-align: left"><button type="submit" (click)="invite(getEmail)"
              class="btn btn-info btnsty">Invite</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="details" id="detail">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2">Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name:</td>
          <td>{{userDetails.name}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{userDetails.email}}</td>
        </tr>
        <tr>
          <td>Type:</td>
          <td>{{userDetails.type}}</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>{{userDetails.phone}}</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>{{userDetails.gender}}</td>
        </tr>
        <tr>
          <td>Telephone:</td>
          <td>{{userDetails.telephone}}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{userDetails.city}}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{userDetails.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
