<div class="sideber">
  <nav class="navbar navbar-expand-lg navbar-light navColor">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/AgencyApp/agencyHome/agencySeePro">See Profile </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AgencyApp/agencyHome/agencyCrPro">Create Profile </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AgencyApp/agencyHome/agencyUpPro">Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="contentdiv">
  <router-outlet></router-outlet>
</div>
