<div class="contentdiv">
  <div class="notifyStyle">
    <h3>Invitations:</h3>
    <form action="">
      <table class="table table-striped" *ngFor="let user of usersData">
        <tr>
          <td><span #getEmail>{{user.senderEmail}}</span> sends You an invitation.</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button type="submit" (click)="detailsSender(getEmail); detailOfSender()" class="btn">
              Sender Details
            </button>
          </td>
          <td>
            <button type="submit" (click)="showDetails(getEmail); checkInvite()" class="btn">
              Check Invite
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div class="details" id="senderDetails">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2">Sender Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name:</td>
          <td>{{userDetails.name}}</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>{{userDetails.phone}}</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>{{userDetails.gender}}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{userDetails.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="invitedesign" id="detailsInvite">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2">Invitation Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Guide Duration</td>
          <td><span>Starting Date: </span>" {{  inviteDetails.startingDate}}"</td>
        </tr>
        <tr>
          <td></td>
          <td><span>Ending Date: </span> "{{  inviteDetails.endingDate}}"</td>
        </tr>
        <tr>
          <td>Places he wants to visit:</td>
          <td>{{inviteDetails.places}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
