<div class="createPro">
  <form #f="ngForm" novalidate>
    <div class="form-group row">
      <label for="validationServerUsername" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="createProfile.name" class="form-control" #name="ngModel"
          id="validationServerUsername" [class.is-invalid]="name.invalid && name.touched" name="name" placeholder="Name"
          required>
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input type="number" [(ngModel)]="createProfile.phone" class="form-control" #phone="ngModel"
          [class.is-invalid]="phone.invalid && phone.touched" name="phone" pattern="^\d{10}$" placeholder="Phone"
          required>
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Phone is required</small>

      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Gender</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="createProfile.gender" class="form-control" #gender="ngModel"
          [ngClass]="{'is-invalid':f.submitted && gender.invalid}" name="gender" placeholder="Gender" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Telephone</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="createProfile.telephone" class="form-control" #telephone="ngModel"
          [ngClass]="{'is-invalid':f.submitted && telephone.invalid}" name="telephone" placeholder="Telephone" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input type="text" [(ngModel)]="createProfile.city" class="form-control" #city="ngModel"
          [ngClass]="{'is-invalid':f.submitted && city.invalid}" name="city" placeholder="City/Road/Town" required>
      </div>
    </div>

    <div class="form-group">
      <label for="comment">Description:</label>
      <textarea class="form-control" [(ngModel)]="createProfile.description" name="description" rows="4" id="comment"
        [ngClass]="{'is-invalid':f.submitted && description.invalid}"></textarea>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" (click)="createTravellerProfile()" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</div>